body {
	font-family: sans-serif;
}

.navbar {
	margin-bottom: 0;
}

.col-md-6, .jumbotron {
	text-align: center;
}

#subscribe-form {
	width: 400px;
	margin: 0 auto;
}

.loginform {
	margin-top: 10px;
}

figure {
	width: 25%;
	float: left;
	position: relative;
}

figure img {
	max-width: 100%;
	width: 100%;
}

figcaption {
	height: 100px;
	font-size: 1.2em;
	padding: 0.5em 1em;
	color: #c3c3c3;
	font-style: italic;
	position: absolute;
	bottom: 0;
	background: -moz-linear-gradient(top, rgba(25,25,25,0.27) 0%, rgba(25,25,25,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(25,25,25,0.27)), color-stop(100%,rgba(25,25,25,1)));
	background: -webkit-linear-gradient(top, rgba(25,25,25,0.27) 0%,rgba(25,25,25,1) 100%);
	background: -o-linear-gradient(top, rgba(25,25,25,0.27) 0%,rgba(25,25,25,1) 100%);
	background: -ms-linear-gradient(top, rgba(25,25,25,0.27) 0%,rgba(25,25,25,1) 100%);
	background: linear-gradient(to bottom, rgba(25,25,25,0.27) 0%,rgba(25,25,25,1) 100%);
	overflow: hidden;
}
.input-group{
	margin-bottom: 25px
}

.jumbotron_booking {
	background-image: url("../images/background.jpg");
	padding: 30px 15px;
  margin-bottom: 30px;
  color: inherit;
  background-size: cover;

}

.jumbotron_booking h1,
.jumbotron_booking .h1 {
  color: white;
}
.jumbotron_booking p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
    color: white;

}
.jumbotron_booking > hr {
  border-top-color: #d5d5d5;
}
.container .jumbotron_booking,
.container-fluid .jumbotron_booking {
  border-radius: 6px;
}
.jumbotron_booking .container {
  max-width: 100%;
}

#profile-pic {
	margin-bottom: 35px;
	width: 120px;
	height: 120px;
	background-position: center center;
	background-repeat: no-repeat;
}
#aboutme {
	margin-bottom: 20px;
}

#admin-tag {
	display: inline-block;
	position: relative;
	top: 0;
	left: -45px;
	width: 45px;
	height: 20px;
	background-color: rgb(180, 0, 0);
	color: white;
	text-align: center;
	border-radius: 1px;
	border: 1px solid rgb(150, 0, 0);
}
